body {
  margin: 0;
  padding: 0; }

.filter {
  margin: 20px; }

.table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-collapse: collapse; }
  .table__column {
    border: 1px solid black; }
  .table__text {
    margin: 0 0 5px;
    font-size: 18px; }
